<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
 	<typeAliases>
 		<typeAlias type="com.miniproj.model.HBoardVO" alias="HBoardVO"/>
 		<typeAlias type="com.miniproj.model.BoardUpFilesVODTO" alias="BoardUpFilesVODTO"/>
 		<typeAlias type="com.miniproj.model.MemberDTO" alias="MemberDTO"/>
 	</typeAliases>
</configuration>